<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 style = "border: 2px solid ">Employee Form</h1>
	<form action="/JSP_Elements/views/AddEmp.jsp" method="post">
	
		<label>Employee Number</label>
		<input type="number" placeholder="enter a employee number" name = "empno">
		<label>Employee name</label>
		<input type="text" placeholder="enter a employee name" name = "empname">
		<label>Salary</label>
		<input type="number" placeholder="salary" name = "sal">
		<button type="submit">submit</button>
	</form>
</body>
</html>